<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Form event</title>
</head>
<body>
<h1>Event Registration</h1>

<form method="post">
    Name: <input type="text" value="" name="nome"/>
    Location: <input type="text" value="" name="local"/>
    Date: <input type="date" value="" name="data"/>
    Time: <input type="text" value="" name="horario"/>

    <button type="submit">Save</button>
</form>
</body>
</html>